:host {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 3rem;

  @media (min-width: 1024px) {
    align-items: stretch;
  }
}

.debt-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: stretch;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: flex-start;
      padding: 1rem 2rem;

      .debt-list__filters {
        order: 1;
      }
      .debt-list__mode-toggle {
        order: 2;
        justify-content: flex-end;
      }
    }
  }

  &__mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;

    @media (min-width: 1024px) {
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    width: 100%;
    max-width: 300px;

    &-title {
      margin-bottom: 0.5rem;
      font-size: 1.25rem;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 300px;

    .debt-list__card-item {
      display: block;
      width: 100%;
    }

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  &__divider {
    width: 60%;
    height: 1px;
    margin-top: 2rem;

    @media (min-width: 1024px) {
      width: 1px;
      height: auto;
      align-self: stretch;
      margin: 0 1.75rem;
    }
  }
}
