:host {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  padding-bottom: 3rem;

  @media (min-width: 1024px) {
    align-items: stretch;
    padding: 0 2rem;
  }
}

.mdc-list-item {
  text-transform: capitalize;
}

.debt-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  width: 100%;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: start;
  }

  &__header {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    box-sizing: border-box;

    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: flex-start;
      padding-top: 1.5rem;
      padding-bottom: 2rem;

      .debt-list__filters {
        order: 1;
      }
      .debt-list__mode-toggle {
        order: 2;
        justify-content: flex-end;
      }
    }
  }

  &__mode-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (min-width: 1024px) {
      align-self: flex-start;
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;

    @media (min-width: 1024px) {
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    width: 100%;
    max-width: 300px;
    min-height: 300px;

    @media (max-width: 1024px) {
      gap: 0;
      min-height: 100px;
    }

    &:not(:last-child) {
      padding-bottom: 3rem;
      border-bottom: 1px solid var(--mat-sys-outline, rgba(0, 0, 0, 0.12));
    }

    @media (min-width: 1024px) {
      &:not(:last-child) {
        border-bottom: none;
        border-right: 1px solid var(--mat-sys-outline, rgba(0, 0, 0, 0.12));
        padding-bottom: 0;
        padding-right: 3rem;
      }
    }
  }

  &__column-header {
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;

    h3 {
      margin-block-start: 0;
      margin-block-end: 0;
    }

    button {
      position: absolute;
      right: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: var(--mat-sys-inverse-surface);
    }
  }

  &__column-title {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__column--overdue {
    order: 2;
    @media (min-width: 1024px) {
      order: 2;
    }
  }
  &__column--unpaid {
    order: 1;
    @media (min-width: 1024px) {
      order: 1;
    }
  }
  &__column--paid {
    order: 3;
    @media (min-width: 1024px) {
      order: 3;
    }
  }

  @media (max-width: 1024px) {
    &__column--empty {
      display: none;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 300px;
    flex: 1;

    @media (max-width: 1024px) {
      &:has(.debt-list__empty) {
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .debt-list__card-item {
      display: block;
      width: 100%;
    }

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 3rem;
    }
  }

  &__empty {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    @media (max-width: 1024px) {
      &__column--empty {
        display: none;
      }
    }

    &-button {
      background: none;
      border: none;
      cursor: pointer;
      margin-top: -1.4rem;

      @media (max-width: 1024px) {
        margin-top: 1rem;
      }
    }

    &-icon {
      font-size: 84px;
      height: 84px;
      width: 84px;
      font-family: 'Material Symbols Outlined' !important;
      font-variation-settings: 'wght' 100 !important;
      font-weight: 100 !important;
      color: var(--mat-sys-inverse-surface);

      @media (max-width: 1024px) {
        font-size: 48px;
        height: 48px;
        width: 48px;
      }
    }
  }
}
