@use 'sass:color';
@use 'sass:map';
@use '../../../../styles/themes/brand-palette' as palettes;
@use '@angular/material' as mat;

$note-color: map.get(palettes.$primary-palette, 90);
$note-fold: color.adjust($note-color, $lightness: -10%) transparent;

.debt-detail {
  position: relative;
  background: $note-color;
  max-width: 400px;
  margin: 0 auto;
  color: map.get(palettes.$neutral-palette, 10);

  &::after {
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 2rem;
    border-width: 1rem;
    border-style: solid;
    border-color: $note-color;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -2em;
    right: 0;
    border-width: 2rem 2rem 0 0;
    border-style: solid;
    border-color: $note-fold;
  }

  &__data {
    background: none;
    box-shadow: none;
    border: none;
  }

  &__header {
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }

  &__header-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
  }

  &__actions {
    display: flex;
    flex-shrink: 0;
  }

  &__content {
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
  }

  &__amount-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  &__amount {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    flex: 1;
  }

  &__status {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    &-icon {
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      align-content: center;
    }

    &-text {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 1rem;
    }
  }

  mat-divider {
    margin: 1rem 0;
    border-top-color: rgba(0, 0, 0, 0.2) !important;
  }

  &__info-list {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
  }

  &__info-item {
    display: flex;
    gap: 0.25rem;
    padding: 0.5rem 0;
    align-items: center;
  }

  &__info-label {
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  &__info-value {
    font-size: 1rem;
    font-weight: 400;
  }

  &__counterparty {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &-name {
      font-weight: 500;
    }
  }

  &__footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &__paid-button {
    border-radius: 0;
    @include mat.button-overrides(
      (
        outlined-label-text-color: map.get(palettes.$neutral-palette, 10),
        outlined-ripple-color: rgba(0, 0, 0, 0.16),
        outlined-outline-color: map.get(palettes.$neutral-palette, 10),
        outlined-hover-state-layer-opacity: 0,
        outlined-pressed-state-layer-opacity: 0,
        outlined-focus-state-layer-opacity: 0,
      )
    );

    &:hover .debt-detail__paid-icon {
      color: map.get(palettes.$tertiary-palette, 80);
    }
  }

  &__paid-icon {
    transition: color 200ms ease;
  }
}

.debt-detail--paid {
  $bg: map.get(palettes.$tertiary-palette, 90);
  background-color: $bg !important;

  &::after {
    border-color: $bg;
  }
  &::before {
    border-color: color.adjust($bg, $lightness: -10%) transparent;
  }
}

.debt-detail--unpaid {
  $bg: map.get(palettes.$primary-palette, 90);
  background-color: $bg !important;

  &::after {
    border-color: $bg;
  }
  &::before {
    border-color: color.adjust($bg, $lightness: -10%) transparent;
  }
}

.debt-detail--overdue {
  $bg: map.get(palettes.$error-palette, 70);
  background-color: $bg !important;

  &::after {
    border-color: $bg;
  }
  &::before {
    border-color: color.adjust($bg, $lightness: -10%) transparent;
  }
}
