.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;

  @media (max-width: 1024px) {
    justify-content: center;
    justify-items: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    gap: 1rem;

    @media (max-width: 1024px) {
      width: 100%;
      max-width: 100%;
      justify-content: space-between;
    }
  }

  &__link {
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;

    @media (max-width: 1024px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 1024px) {
      order: 3;
    }
  }

  &__icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__icon {
    display: block;
    fill: #f1c02b;
    width: 36px;
    height: 36px;
  }

  &__icon-plus {
    stroke: #ebe1d2;
  }

  :host-context(.dark-theme) &__icon-plus {
    stroke: #1f1b12;
  }

  &__button--logout {
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }

  &__icon--logout {
    color: var(--mat-sys-inverse-surface);
  }

  &__menu-button {
    display: none;

    @media (max-width: 1024px) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0;
      order: 1;
    }
  }

  &__menu-theme-toggle {
    transition: none !important;
    animation: none !important;
  }

  &__actions--extra {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 16px;
    right: 20px;
    gap: 0.5rem;

    @media (max-width: 1024px) {
      display: none;
    }

    @media (min-width: 1024px) and (max-width: 1400px) {
      position: static;
    }
  }

  :host-context(.light-theme) &__theme-toggle svg {
    fill: #353025;
  }

  :host-context(.dark-theme) &__theme-toggle svg {
    fill: #f1c02b;
  }

  .mat-mdc-menu-trigger {
    padding: 0 !important;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: var(--mat-sys-on-surface);
  }

  .hamburger:hover:not(.is-active) {
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: #f1c02b;
    }
  }
}

.hamburger-box span {
  transform: scale(0.8);
}
