@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #241a00,
    20: #3e2e00,
    25: #4b3900,
    30: #594400,
    35: #674f00,
    40: #755b00,
    50: #937300,
    60: #b28c00,
    70: #d3a500,
    80: #f1c02b,
    90: #ffdf91,
    95: #ffefcf,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001f2a,
    20: #003546,
    25: #004154,
    30: #004d63,
    35: #005a73,
    40: #006783,
    50: #0081a4,
    60: #009dc7,
    70: #10b9ea,
    80: #64d3ff,
    90: #bce9ff,
    95: #e0f4ff,
    98: #f3faff,
    99: #fafcff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #161e00,
    20: #283500,
    25: #324100,
    30: #3c4d00,
    35: #465900,
    40: #506600,
    50: #668102,
    60: #7f9b25,
    70: #99b63e,
    80: #b4d257,
    90: #cfef70,
    95: #ddfe7d,
    98: #f3ffca,
    99: #fbffe2,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1f1b12,
    20: #353025,
    25: #403b30,
    30: #4c463b,
    35: #585246,
    40: #645e51,
    50: #7d7669,
    60: #979082,
    70: #b2aa9c,
    80: #cec5b6,
    90: #ebe1d2,
    95: #f9f0e0,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
    4: #110e06,
    6: #17130a,
    12: #231f15,
    17: #2e291f,
    22: #39342a,
    24: #3e392e,
    87: #e2d9c9,
    92: #f1e7d7,
    94: #f6eddd,
    96: #fcf2e2,
  ),
  neutral-variant: (
    0: #000000,
    10: #211b0b,
    20: #37301f,
    25: #423b29,
    30: #4e4633,
    35: #5a523e,
    40: #665d4a,
    50: #807661,
    60: #9a9079,
    70: #b6aa93,
    80: #d2c5ad,
    90: #eee1c8,
    95: #fdefd6,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$secondary-palette: map.merge(map.get($_palettes, secondary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
$error-palette: map.get($_palettes, error);
$neutral-palette: map.get($_palettes, neutral);
$neutral-variant-palette: map.get($_palettes, neutral-variant);
