@use 'sass:map';
@use '@angular/material' as mat;
@use './_brand-palette' as bp;

$light-theme: (
  color: (
    primary: bp.$primary-palette,
    secondary: bp.$secondary-palette,
    tertiary: bp.$tertiary-palette,
    error: bp.$error-palette,
    theme-type: light,
  ),
  typography: (
    plain-family: 'Rambla, sans-serif',
    brand-family: 'Aldrich, sans-serif',
    bold-weight: 700,
    regular-weight: 400,
  ),
  density: 0,
) !default;
