@use 'sass:map';
@use '@angular/material' as mat;
@use './_brand-palette' as bp;

$light-surfaces: (
  background: map.get(bp.$neutral-palette, 100),
  surface: map.get(bp.$neutral-palette, 98),
  on-background: map.get(bp.$neutral-palette, 0),
  on-surface: map.get(bp.$neutral-palette, 0),
);

$light-theme: (
  color: (
    primary: bp.$primary-palette,
    secondary: bp.$secondary-palette,
    tertiary: bp.$tertiary-palette,
    error: bp.$error-palette,
    theme-type: light,
  ),
  sys: $light-surfaces,
  typography: (
    plain-family: 'Rambla, sans-serif',
    brand-family: 'Aldrich, sans-serif',
    bold-weight: 700,
    regular-weight: 400,
  ),
  density: 0,
) !default;
