@use '../../styles/mixins' as mix;
@use '../../styles/variables' as vars;

.debt-list-page {
  @include mix.page-container;
  display: flex;
  flex-direction: column;
  color: var(--mat-sys-on-surface);

  @media (max-width: #{vars.$breakpoint-tablet - 1px}) {
    max-width: vars.$max-width-tablet;
  }
}
