@use 'sass:map';
@use '@angular/material' as mat;
@use './app/styles/themes/_light-theme' as light-theme;
@use './app/styles/themes/_dark-theme' as dark-theme;
@use './app/styles/themes/_brand-palette' as bp;

:root {
  --mat-toolbar-standard-height: 64px;
  --mat-toolbar-mobile-height: 56px;
}

html {
  scroll-behavior: smooth;
}

html.light-theme {
  color-scheme: light;

  @include mat.theme(
    light-theme.$light-theme,
    $overrides: (
      primary: map.get(bp.$primary-palette, 80),
      surface: map.get(bp.$neutral-palette, 90),
      background: map.get(bp.$neutral-palette, 95),
      on-surface: map.get(bp.$neutral-palette, 10),
      on-background: map.get(bp.$neutral-palette, 10)
    )
  );
}

html.dark-theme {
  @include mat.theme(
    dark-theme.$dark-theme,
    $overrides: (
      surface: map.get(bp.$neutral-palette, 20),
      background: map.get(bp.$neutral-palette, 10),
      on-background: map.get(bp.$neutral-palette, 100),
      on-surface: map.get(bp.$neutral-palette, 100)
    )
  );
}

.force-light-theme {
  @include mat.theme(
    light-theme.$light-theme,
    $overrides: (
      primary: map.get(bp.$primary-palette, 80),
      surface: map.get(bp.$neutral-palette, 90),
      background: map.get(bp.$neutral-palette, 95),
      on-surface: map.get(bp.$neutral-palette, 10),
      on-background: map.get(bp.$neutral-palette, 10)
    )
  );
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  padding-top: var(--mat-toolbar-standard-height);
  font-family: 'Rambla', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 599px) {
  body {
    padding-top: var(--mat-toolbar-mobile-height);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
